<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>주문 목록</h2>
    </div>

    <form th:object="${foodSearchCond}" method="get" class="form-inline">
        <div class="row">
            <div class="col">
                <input type="text" th:field="*{foodName}" class="form-control" placeholder="음식명"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{foodPrice}" class="form-control" placeholder="음식 가격"/>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-secondary mb-2">검색</button>
            </div>
            <div class="col">
            </div>
            <div class="col">
                <div class="col">
                    <button class="w-75 btn btn-secondary mb-2" style="width: 500px;"
                            onclick="location.href='main.html'"
                            th:onclick="|location.href='@{/}'|"
                            type="button">이전</button>
                </div>
            </div>
        </div>
    </form>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>주문명</th>
                <th>주문 가격</th>
                <th>주문 개수</th>
                <th>주문한 계정</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="foodOrder : ${foodOrders}">
<!--                <td><a href="food.html" th:href="@{/foods/{foodName}(foodName=${foodOrder.foodName})}" th:text="${food.foodName}">게임명</a></td>-->
                <td th:text="${foodOrder.foodName}">음식 가격</td>
                <td th:text="${foodOrder.foodPrice}">음식 가격</td>
                <td th:text="${foodOrder.foodCnt}">주문 개수</td>
                <td th:text="${foodOrder.userId}">주문한 계정</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr class="my-4">

    <hr class="my-4">
    <div>
        <div>  룸비 : 10000원 </div>
        <hr class="my-4">
        총합 : <span th:text="${totalPrice+10000}">2222원</span>
    </div>
    <hr class="my-4">
</div> <!-- /container -->
</body>
</html>