<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 800px">
    <div class="py-5 text-center">
        <h2>음식 목록</h2>
    </div>

    <form th:object="${foodSearch}" method="get" class="form-inline">
    <div class="row">
        <div class="col">
            <input type="text" th:field="*{foodName}" class="form-control" placeholder="음식명"/>
        </div>
        <div class="col">
            <input type="text" th:field="*{foodPrice}" class="form-control" placeholder="음식 가격"/>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-secondary mb-2">검색</button>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <div class="col">
                    <button class="w-75 btn btn-secondary mb-2" style="width: 500px;"
                            onclick="location.href='main.html'"
                            th:onclick="|location.href='@{/}'|"
                            type="button">이전</button>
<!--                <button class="w-100 btn btn-secondary mb-1"-->
<!--                        onclick="location.href='main.html'"-->
<!--                        th:onclick="|location.href='@{/foods/end}'|"-->
<!--                        type="button"> 모든 게임 종료 </button>-->
            </div>
        </div>
    </div>
    </form>

    <form action="/foods/order" method="post">
        <hr class="my-4">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>음식명</th>
                    <th>음식 가격</th>
                    <th>개수</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="food : ${foods}">
                    <td><input th:id="foodName" th:name="foodName"  th:value="${food.foodName}" readonly></td>
                    <td><input th:id="foodPrice" th:name="foodPrice"  th:value="${food.foodPrice}" readonly></td>
                    <td><input type="number" id="foodCnt" name="foodCnt" class="form-control" value="0" min="0" max="100000" placeholder="개수"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">음식 주문</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='main.html'"
                        th:onclick="|location.href='@{/}'|"
                        type="button">이전으로</button>
            </div>
        </div>
    </form>


</div> <!-- /container -->
</body>
</html>

<!--<td style="width: 20%"><button-->
<!--        onclick="location.href='main.html'"-->
<!--        th:onclick="|location.href='@{/foods/start/{foodName}(foodName=${food.foodName})}'|"-->
<!--        type="button">음식 추가</button></td>-->